@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('./background.jpeg');
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

.form-container {
  height: auto;
}
.recipes-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 30px;
  margin-top: 20px;
  margin-right: 20px;
  height: auto;
  text-align: left;
  flex-grow: 1;
  min-height: 0;
  min-width: 300px; /* Add a minimum width to prevent shrinking */
  overflow: auto;
}

.tabs-container {
  height: 100%;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .form-container,
  .recipes-container {
    margin-top: 0;
  }
  .tabs-container {
    margin-top: 0;
  }
}

.tabs-container .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  grid-column: 2 / span 1;
  height: 100%;
  background-color: #fff6d5;
}

.tabs-container .nav-link {
  margin-right: 10px;
}

.tabs-container .tab-content:not(.active) {
  display: none;
}

.tab {
  margin-right: 10px;
}

.loading-image-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
